{
	"frame_length" : 16384,
	"sampling" : 16000,
	"workdir"  : "",
	"n_fft" : 255,
	"fft_hop_length" : 128,
	"input_size": [128, 128],
	"generate": {
		"samplify_npy_size": 3000,
		"train": {
			"input_noise" : "",
			"input_clean" : ""
		},
		"test": {
			"input_noise" : "",
			"input_clean" : ""
		}
	},
	"train": {
		"checkpints" : "",
		"logs" : "",
		"epoch count" : 0
	},
	"predict": {
		"model": "",
		"in_predict": "",
		"out_predict": ""
	}
}
